{% extends 'base.html' %} {% block body %}
<div class="container">
  <h1 class="mt-4">About US</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quo
    iusto dolore culpa soluta dolor cumque nam? Distinctio molestias ipsam quae
    quo autem voluptates quos odit ratione doloremque exercitationem optio sed
    at in natus nemo incidunt, laboriosam repudiandae enim repellat voluptatem
    laborum ea maxime soluta non. Aliquid doloremque iusto repellat?
  </p>
</div>
{% endblock body %}
